<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Offer Letter</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }
      .page-wrapper {
        height: 1123px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .header,
      .footer {
        width: 100%;
        height: 50px;
        background-color: #010d3e;
      }

      .logo img {
        width: 120px;
        margin-bottom: 20px;
      }
      .content {
        margin: 50px;
      }
    </style>
  </head>
  <body>
    <div class="page-wrapper">
      <div>
        <div class="header">
          <div
            style="
              font-weight: 700;
              font-size: 24px;
              display: flex;
              justify-content: center;
              align-items: center;
              height: 100%;
            "
          >
            <span style="color: white">Talent</span>
            <span style="color: #cccccc">Nest</span>
          </div>
        </div>
        <div class="content" style="text-align: justify; line-height: 1.5">
          <p
            style="
              font-size: large;
              font-weight: bold;
              color: #010d3e;
              text-align: center;
            "
          >
            Offer Letter: Product Designer Position at Vertex Dynamics
          </p>
          <p>
            Congratulations on your appointment as a Product Designer at Vertex
            Dynamics! We are thrilled to offer you this position, which we
            believe will be an excellent fit for your skills and experience.
          </p>
          <p>
            Your employment start date will be Monday, March 23rd, 2025. We
            encourage you to confirm this date with your TalentNest Hiring
            representative and confirm that you are free to begin your
            employment during this time.
          </p>
          <p>
            We are excited to have you join the Vertex Dynamics team! We value
            your unique point of view and the contributions you will make to our
            organization. As a Product Designer, we trust that your creativity
            and innovative thinking will bring fresh and exciting perspectives
            to our design projects. You'll be an integral part of our team,
            working closely with our talented professionals to create
            exceptional design solutions that deliver remarkable outcomes. We
            are confident that you will thrive in this role and look forward to
            witnessing the impact of your work.
          </p>
          <p>
            Once again, congratulations! We at Vertex Dynamics and TalentNest
            Hiring are proud to welcome you aboard, and we eagerly anticipate
            working with you.
          </p>
          <p>— The Vertex Dynamics Team (via TalentNest Hiring)</p>
        </div>
      </div>
      <div class="footer"></div>
    </div>
  </body>
</html>
